#web-name{
    height: 2rem;
   padding-left: 10.2rem;
    height: 20px;
    
   
}
.navbar{
border: 1px solid rgba(0, 0, 0, 0.075);
height: 4.5rem;
}
.nav-link{
    margin-left: 20px;
}
.navbar-nav{
    margin-left: 50%;
}
#bar{
    height: 3rem;
}

#navbarNav{
padding-right: 7rem;
}