.pricing img{
    width: 90%;
    height: 60%;
}
.pricing span{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    justify-content: center;
    align-items: center;
}
.head h1{
    font-size: 1.8rem;
    margin-bottom: 2rem;
    margin-left: -35%;
}
.account{
     margin-top: 2rem;
}