h2{
    color: rgb(35, 40, 40);
    font-size: 20px;
}

.stats-div a{
    text-decoration: none;
}

.stats-div{
    /* margin-bottom: 2.5rem; */
    color: rgba(0, 0, 0, 0.59);
    font-size: 18px;
   margin-bottom: 2rem;
}

.img:hover{
    cursor: pointer;

}
.link a{
    text-decoration: none;
    padding: 1rem;
    margin: auto;
   
}
.link a:hover{
    color: rgba(0, 0, 0, 0.779);
}
.link{
    margin-top: 1rem;
    margin-left: 19%;
}